{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{% block title %}CannaTech{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body data-bs-theme="light">
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
            
            <div class="menu">
                <ion-icon name="menu-outline"></ion-icon>
                <ion-icon name="close-outline"></ion-icon>
            </div>
        
            <div class="barra-lateral">
                <div>
                    <div class="nombre-pagina">
                        <img src="{% static 'core/images/logo.png' %}" alt="CannaTech Logo" class="logo">
                        <p class="nombre">CannaTech</p>
                    </div>
                           <div class="alert alert-success mt-3">
                        ¡Bienvenido,<br> {{ request.user.get_username }}!
                        </div>
                            </div>
                <nav class="navegacion">
                <!--  --> <li>
                            <a id="home" href="{% url 'home' %}">
                                <ion-icon name="home-outline"></ion-icon>
                                <span class="text-color">Inicio</span>
                            </a>
                        <li>
                            <a id="products" href="{% url 'products' %}">
                                <ion-icon name="pricetags-outline"></ion-icon>
                                <span>Productos</span>
                            </a>
                        </li>
                        <li>
                            <a id="exit" href="{% url 'exit' %}">
                                <ion-icon name="exit-outline"></ion-icon>
                                <span>Salir</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                <span>Vacío 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                <span>Vacío 2</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        
                <div>
                    <div class="linea"></div>
        
                    <div class="modo-oscuro">
                        <div class="info">
                            <ion-icon name="moon-outline"></ion-icon>
                            <span>Dark Mode</span>
                        </div>
                        <div class="switch">
                            <div class="base">
                                <div class="circulo"></div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            {% endif %}

            <div class="col">
                {% if not user.is_authenticated %}
                <header class="header">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="{% static 'core/images/logo.png' %}" alt="CannaTech Logo">
                                <span class="ms-2">CannaTech</span>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ms-auto">
                                    <li><a class="nav-link fw-bold" href="{% url 'login' %}">Iniciar sesión</a></li>
                                    <li><a class="nav-link fw-bold" href="{% url 'signup' %}">Registrarse</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                {% endif %}

                <center>
                    <div id="loader" class="containerloader">
                        <div class="loader"></div>
                        <div class="loader"></div>
                        <div class="loader"></div>
                        <div class="loader"></div>
                        <div class="loader"></div>
                    </div>
                </center>

                <main class="main">
                    {% block content %}{% endblock %}
                </main>

                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Contacto</h5>
                                <p>Dirección: Av. Cannabis, 1234, Montevideo, Uruguay</p>
                                <p>Email: info@cannatech.com</p>
                                <p>Teléfono: +598 1234 5678</p>
                            </div>
                            <div class="col-md-4">
                                <h5>Redes Sociales</h5>
                                <ul class="list-unstyled">
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">LinkedIn</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5>Acerca de</h5>
                                <p>CannaTech es una plataforma para la gestión integral de cultivos de cannabis, laboratorios y negocios relacionados.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <p>&copy; 2024 CannaTech. Todos los derechos reservados.</p>
                            <p><a href="#">Aviso Legal</a> | <a href="#">Política de Privacidad</a></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'core/js/dakrtheme.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/navbar2.js' %}"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
