{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <input type="button" class="btn-prev" value="↩" onClick="javascript:history.go(-1);">
    <div class="row hero">
        <div class="col-12">
            <h2>Controla tus Gastos, Ventas y Pedidos</h2>
            <br>
            <div class="d-flex justify-content-center mt-2 mb-2">
                <a href="{% url 'barcodes' %}" class="btn btn-primary btn-sm" style="margin-right: 20px; padding: 5px 10px; font-size: 15px;">Registrar Producto</a>
                <a href="{% url 'add_product_to_stock' %}" class="btn btn-primary btn-sm" style="margin-right: 20px; padding: 5px 10px; font-size: 15px;">Agregar Producto a Stock</a>
                <a href="{% url 'lista_stock' %}" class="btn btn-primary btn-sm" style="margin-right: 20px; padding: 5px 10px; font-size: 15px;">Lista de Productos en Stock</a>
                <a href="{% url 'graficar_datos' %}" class="btn btn-primary btn-sm" style="margin-left: 20px; padding: 5px 10px; font-size: 15px;">Ver Gráficos</a>
            </div>
        </div>
    </div>
</div>
 
    <hr>  
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active nav-link-green" id="home-tab" href="{% url 'dashboard' %}" role="tab" aria-controls="home" aria-selected="true">Resumen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-green" id="gastos-tab" data-toggle="tab" href="#gastos" role="tab" aria-controls="gastos" aria-selected="false">Gastos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-green" id="ventas-tab" data-toggle="tab" href="#ventas" role="tab" aria-controls="ventas" aria-selected="false">Ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-green" id="pedidos-tab" data-toggle="tab" href="#pedidos" role="tab" aria-controls="pedidos" aria-selected="false">Pedidos</a>
        </li>
    </ul>
    
    
    
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h4>Mis variedades</h4>
            <ul class="list-group">
                {% for variedad in variedades %}
                    <li class="list-group-item">{{ variedad.nombre }}</li>
                {% empty %}
                    <li class="list-group-item">No hay variedades registradas.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="gastos" role="tabpanel" aria-labelledby="gastos-tab">
            <h3>Gastos</h3>
            <p>Registra y controla tus gastos.</p>
            
            <button type="button" class="btndash  btn-sm " data-toggle="modal" data-target="#gastoModal">
             Nuevo Gasto &nbsp;<i class="fas fa-plus"></i>
            </button>
            <div class="list-group">
                {% for gasto in gastos %}
                    <div class="list-group-item d-flex justify-content-between align-items-center pedidolist">
                        <div>
                            <h5 class="mb-1 vpc">{{ gasto.tipo_gasto }}</h5>
                            <p class="mb-1">{{ gasto.descripcion }} - {{ gasto.variedad.nombre }} - ${{ gasto.monto }} - {{ gasto.fecha }}</p>
                        </div>
                        <form action="{% url 'borrar_gasto' gasto.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger" style="margin-right: 0.8rem;"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                {% empty %}
                    <div class="list-group-item">No hay gastos registrados.</div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="ventas" role="tabpanel" aria-labelledby="ventas-tab">
            <h3>Ventas</h3>
            <p>Gestiona tus ventas y productos.</p>
            <button type="button" class="btn8 btn-primary mb-2" data-toggle="modal" data-target="#ventaModal">
                Nueva Venta &nbsp;<i class="fas fa-plus"></i> 
            </button>
            <div class="list-group">
                {% for venta in ventas %}
                    <div class="list-group-item d-flex justify-content-between align-items-center pedidolist">
                        <div>
                            <h5 class="mb-1 vpc">{{ venta.producto }}</h5>
                            <p class="mb-1">{{ venta.variedad.nombre }} &nbsp; {{ venta.cantidad }} unidades &nbsp; ${{ venta.precio_unitario }} c/u &nbsp; {{ venta.fecha }}</p>
                        </div>
                        <form action="{% url 'borrar_venta' venta.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger" style="margin-right: 0.8rem;"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                {% empty %}
                    <div class="list-group-item">No hay ventas registradas.</div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
            <h3>Pedidos</h3>
            <p>Administra tus pedidos y entregas.</p>
            <button type="button" class="btn8 btn-primary mb-2" data-toggle="modal" data-target="#pedidoModal">
                Nuevo Pedido &nbsp;<i class="fas fa-plus"></i> 
            </button>
            <div class="list-group">
                {% for pedido in pedidos %}
                <div class="list-group-item d-flex justify-content-between align-items-center pedidolist">
                    <div>
                        <h5 class="mb-2 vpc">
                            {{ pedido.producto }}
                            <span class="badge {% if pedido.estado == 'completado' %}badge bg-success{% elif pedido.estado == 'cancelado' %}badge bg-danger{% else %}badge bg-warning{% endif %}">
                                {{ pedido.get_estado_display }}
                            </span>
                            <hr>
                        </h5>
                        <p class="mb-2">{{ pedido.variedad.nombre }} {{ pedido.cantidad }} unidades</p>
                        <p class="mb-2">Pedido: {{ pedido.fecha_pedido }} -<span class="soft-strong"> Entrega: {{ pedido.fecha_entrega }}</span></p>
                        <p class="mb-2">Info: {{ pedido.descripcion }}</p>
                        <p class="mb-2">Dirección de entrega: {{ pedido.direccion }}</p>
                        <p class="mb-2">Teléfono de contacto: {{ pedido.telefono }}</p>
                        <p class="mb-2">
                            {% if pedido.cliente %}
                            <strong><small class="smallclass"> Asociado al cliente: {{ pedido.cliente.nombre }} </small></strong>
                            {% elif pedido.miembro %}
                            <strong><small class="smallclass"> Asociado al miembro: {{ pedido.miembro.nombre }} </small></strong>
                            {% else %}
                            No asociado a ningún cliente/miembro
                            {% endif %}
                        </p>
                        <div class="mt-2">
                            <form action="{% url 'actualizar_estado_pedido' pedido.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="estado" value="completado">
                                <button type="submit" class="badge badge bg-success btn-sm btn-success link-btn {% if pedido.estado != 'pendiente' %}disabled{% endif %}" {% if pedido.estado != 'pendiente' %}disabled{% endif %}>Completado</button>
                            </form>
                            <form action="{% url 'actualizar_estado_pedido' pedido.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="estado" value="cancelado">
                                <button type="submit" class="badge badge bg-danger btn-sm link-btn {% if pedido.estado != 'pendiente' %}disabled{% endif %}" {% if pedido.estado != 'pendiente' %}disabled{% endif %}>Cancelar</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <form action="{% url 'borrar_pedido' pedido.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger" style="margin-right: 0.8rem;"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <div class="list-group-item">No hay pedidos registrados.</div>
                {% endfor %}
            </div>
        </div>
        
        

<!-- Modal para agregar nuevo gasto -->
<div class="modal fade" id="gastoModal" tabindex="-1" role="dialog" aria-labelledby="gastoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gastoModalLabel">Agregar Nuevo Gasto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="gasto_form">
                    {% for field in gasto_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {{ field.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Agregar Gasto</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar nueva venta -->
<div class="modal fade" id="ventaModal" tabindex="-1" role="dialog" aria-labelledby="ventaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ventaModalLabel">Agregar Nueva Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="venta_form">
                    {% for field in venta_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {{ field.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Agregar Venta</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar nuevo pedido -->
<div class="modal fade" id="pedidoModal" tabindex="-1" role="dialog" aria-labelledby="pedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pedidoModalLabel">Agregar Nuevo Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="pedido_form">
                    {% for field in pedido_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {{ field.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Agregar Pedido</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // To prevent repeating modal on a focus
        $('#gastoModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    });
</script>

<script>
    $(document).ready(function() {
        // To prevent repeating modal on a focus
        $('#ventaModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    });
</script>

<script>
    $(document).ready(function() {
        // To prevent repeating modal on a focus
        $('#pedidoModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    });
</script>
{% endblock %}
