{% extends "core/base.html" %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
{% endblock %}

{% block content %}

<body class="custombodyhome">
    <div class="container">
        <div class="hero">
            <h1>Gestión Integral de Cannabis</h1>
            <p>Software para optimizar la gestión de cultivos, laboratorios, negocios y más.</p>
        </div>
        {% if user.is_authenticated %}

        <!-- float menu -->
            <div class="all">
                <div class="lefter">
                    <div class="text">Servicios Avanzados</div>
                </div>
                <div class="left">
                    <div class="text">Recomendación</div>
                </div>
                <div class="center">
                    <div class="explainer">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="text"></div>
                </div>
                <div class="right">
                    <div class="text">Registrar Variedad</div>
                </div>
                <div class="righter">
                    <div class="text">Condiciones Cultivo</div>
                </div>
            </div><br>

            <!-- bento grid div-->
            <div class="bento">
                <div class="profile">
                    <h2 class="welcome-text">¡Bienvenido,<br></h2>
                    <h4>{{ request.user.get_username }}!</h4>
                </div>
                
                <div class="schedule-table" onclick="window.location.href='features'">
                    
                    <h2> Servicios Avanzados</h2>
                    <table>
                        <tr>
                            <th>Simulación de rendimiento de tus Cultivos </th>
                            <th> Gestión de Clientes y Miembros</th>
                            <th>Análisis de Costos y Presupuestos</th>
                        </tr>
                        <tr>
                            <td> Recomendaciones de cultivo personalizadas </td>
                            <td>Registrar nuevos clientes</td>
                            <td>Controla tus Gastos y Ventas</td>
                        </tr>
                        <tr>
                            <td>Análisis de costos y presupuestos</td>
                            <td>Recepción de Muestra</td>
                            <td>Seguimiento de Ingresos</td>
                        </tr>
                        <tr>
                            <td>Variables de Condiciones de Cultivo</td>
                            <td>Registro de Resultados</td>
                            <td>Gráficas de Finanzas</td>
                        </tr>
                       
                    </table>
                </div>
                

                <div class="exercise-table" onclick="window.location.href='plants'">
                    <h3><i class="fas fa-search"></i> Buscador de Plantas</h3>
                    <p>Nuestra plataforma te ofrece acceso a una extensa base de datos con más de 2300 variedades de cultivos de cannabis.</p>
                    <p>Encuentra información detallada sobre tipo de cepa, calificación, efectos, sabor y descripción para cada variedad, todo en un solo lugar.</p>
                    <p>Haz clic para buscar plantas.</p>
                </div>
                            

                <div class="calories" onclick="window.location.href='dashboard'">
                    <h5>Gestión de Operaciones</h5>
                    <div style="margin: 2.2rem; font-size: 17px; color: rgba(34, 58, 63, 0.904);"><ion-icon name="cash-outline"></ion-icon> <strong>Gastos</strong></div>
                    <div style="margin: 2.5rem; font-size: 17px; color: rgba(34, 58, 63, 0.904);"><ion-icon name="cart-outline"></ion-icon> <strong>Ventas</strong></div>
                    <div style="margin: 3rem; font-size: 17px; color: rgba(34, 58, 63, 0.904);"><ion-icon name="cube-outline"></ion-icon> <strong>Pedidos</strong></div>
                </div>
                
                
            
                <div class="personal-bests" onclick="window.location.href='graficos'">
                    <h2>Mis Cultivos</h2>
                    <ul>
                        <li>Visualización gráfica de Datos.</li>
                        <li>Humedad</li>
                        <li>Temperatura</li>
                       
                    </ul>
                </div>
            
                <div class="challenges">
                    <div class="half-card"  onclick="window.location.href='bom/nuevo'">
                     <h2>Creación de Lista de Materiales (BOM)
                 </h2>
                  <span>
                      crear una nueva lista de materiales
                      para tus productos  
                      </span>  
                  </div>
                  <hr>
                  <div class="half-card" onclick="window.location.href='/planes-produccion'">
                      <h2>Planes de Producción</h2>
              <span>
                gestionar tus planes de producción
                para optimizar tu proceso
              </span>
                  </div>
              </div>



                
               <div class="activity-feed">
    <div class="half-card" onclick="window.location.href='programar-analisis'" style="background-color: #f5f5f5; border-radius: 8px;  cursor: pointer;">
        <h2><i class="fas fa-calendar-alt"></i> Programar Análisis</h2>
        <p>Organiza y gestiona los análisis de las muestras recibidas.</p>
    </div>
    <hr>
    <div class="half-card" onclick="window.location.href='recepcion-muestra'" style="background-color: #f5f5f5; border-radius: 8px; cursor: pointer;">
        <h2><i class="fas fa-vial"></i> Recepción de Muestra</h2>
        <p>Registrar una nueva muestra para análisis.</p>
    </div>
</div>

                
            </div>
              
                             
        {% else %}
            <!-- if not logged show  -->
            <div class="tarjetacontainer">
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'images/entre.PNG' %}" alt="entrepreneur_presupuestos">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Emprendedores</h2>
                        </div>
                        <p>Acceso a herramientas para gestionar cultivos, laboratorios y presupuestos.</p>
                    </div>
                </div>
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'images/cul.PNG' %}" alt="cultivador_cultivos">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Cultivadores</h2>
                        </div>
                        <p>Gestiona variedades, registros y análisis de calidad.</p>
                    </div>
                </div>
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'images/labo.jpg' %}" alt="laboratorio_analisis">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Laboratorios</h2>
                        </div>
                        <p>Gestiona muestras, realiza análisis y control de calidad.</p>
                    </div>
                </div>
            </div><br>
            
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6500">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="bannerhome">
                      <div class="bannerhome-content">
                        <div class="hero2">
                          <h1>Revoluciona tu <br> Cultivo de Cannabis</h1>
                        </div>
                        <p>Con nuestra plataforma integral. Gestiona variedades, tratamientos, análisis y costos de manera eficiente. Optimiza tu producción y descubre el potencial de tus cultivos de forma fácil y efectiva.</p>
                      </div>
                      <div class="bannerhome-image">
                        <img src="{% static 'images/plantan.gif' %}" alt="Tecnología en cultivo de cannabis">
                      </div>
                      <div class="ring"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="bannerhome2">
                      <div class="bannerhome-content">
                        <div class="hero2">
                          <h2>Gestión Integral de Cannabis</h2>
                        </div>
                        <p>Gestiona variedades, registra condiciones de cultivo y tratamiento fitofarmacéutico, y recibe recomendaciones personalizadas basadas en los datos ingresados. Simula y predice el rendimiento de tus cosechas y analiza los costos asociados para optimizar tus operaciones.</p>
                      </div>
                      <div class="bannerhome-image">
                        <img src="{% static 'images/default-analysis.gif' %}" alt="Tecnología en cultivo de cannabis">
                      </div>
                      <div class="ring"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="bannerhome3">
                      <div class="bannerhome-content">
                        <div class="hero2">
                          <h3>Base de datos integrada con más de 2300 variedades de cultivos</h3>
                        </div>
                        <p>Nuestra plataforma te ofrece acceso a una extensa base de datos con más de 2300 variedades de cultivos de cannabis. Encuentra información detallada sobre tipo de cepa, calificación, efectos, sabor y descripción para cada variedad, todo en un solo lugar.</p>
                      </div>
                      <div class="bannerhome-image">
                        <img src="{% static 'images/plantan3.gif' %}" alt="Tecnología en cultivo de cannabis">
                      </div>
                      <div class="ring"></div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        {% endif %}
       
        <!--  cards carrusel -->
        <div class="tarjetas-grid-container">
            <!-- Tarjeta 1: Registro de Variedades -->
            <div class="locks" id="card-1">
                <div class="img"><i class="fas fa-seedling"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Registrar Variedades</h2>
                    </div>
                    <p class="p">Registra todas las variedades de cultivo disponibles.</p>
                </div>
            </div>
            
            <!-- Tarjeta 2: Condiciones de Cultivo -->
            <div class="locks" id="card-2">
                <div class="img"><i class="fas fa-leaf"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Condiciones de Cultivo</h2>
                    </div>
                    <p class="p">Define y crea las condiciones de cultivo necesarias.</p>
                </div>
            </div>
            
            <!-- Tarjeta 3: Tratamientos Fitofarmacéuticos -->
            <div class="locks" id="card-3">
                <div class="img"><i class="fas fa-prescription-bottle-alt"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Tratamiento Fitofarmacéutico</h2>
                    </div>
                    <p class="p">Registra la información sobre tratamientos fitofarmacéuticos aplicados.</p>
                </div>
            </div>
            
            <!-- Tarjeta 4: Información de Análisis -->
            <div class="locks" id="card-4">
                <div class="img"><i class="fas fa-chart-bar"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Información de Análisis</h2>
                    </div>
                    <p class="p">Introduce los datos de análisis realizados.</p>
                </div>
            </div>
            
            <!-- Tarjeta 5: Recomendaciones de Cultivo -->
            <div class="locks" id="card-5">
                <div class="img"><i class="fas fa-cogs"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Recomendaciones de Cultivo</h2>
                    </div>
                    <p class="p">Recibe sugerencias y recomendaciones de cultivo personalizadas basadas en los datos ingresados.</p>
                </div>
            </div>
            
            <!-- Tarjeta 6: Información en PDF -->
            <div class="locks" id="card-6">
                <div class="img"><i class="far fa-file-pdf"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Información en PDF</h2>
                    </div>
                    <p class="p">Genera y descarga reportes e información en formato PDF.</p>
                </div>
            </div>
            
            <!-- Tarjeta 7: Simulación de Rendimiento -->
            <div class="locks" id="card-7">
                <div class="img"><i class="fas fa-chart-line"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Simulación de Rendimiento</h2>
                    </div>
                    <p class="p">Simula y predice el rendimiento de tu cosecha basado en los datos ingresados.</p>
                </div>
            </div>
            
            <!-- Tarjeta 8: Análisis de Costos -->
            <div class="locks" id="card-8">
                <div class="img"><i class="fas fa-calculator"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Análisis de Costos</h2>
                    </div>
                    <p class="p">Calcula y analiza los costos asociados por gramo y el costo total.</p>
                </div>
            </div>
            
            <!-- Tarjeta 9: Registro de Clientes -->
            <div class="locks" id="card-9">
                <div class="img"><i class="fas fa-user"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Registro de Clientes</h2>
                    </div>
                    <p class="p">Mantén un registro detallado de la información de tus clientes.</p>
                </div>
            </div>
            
            <!-- Tarjeta 10: Clientes Relacionados con Análisis -->
            <div class="locks" id="card-10">
                <div class="img"><i class="fas fa-users"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Clientes y Análisis</h2>
                    </div>
                    <p class="p">Asocia clientes específicos con los análisis realizados.</p>
                </div>
            </div>
            
            <!-- Tarjeta 11: Recepción de Muestras -->
            <div class="locks" id="card-11">
                <div class="img"><i class="fas fa-flask"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Recepción de Muestras</h2>
                    </div>
                    <p class="p">Lleva un control de las muestras recibidas.</p>
                </div>
            </div>
            
            <!-- Tarjeta 12: Resultados y Observaciones -->
            <div class="locks" id="card-12">
                <div class="img"><i class="far fa-eye"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Resultados y Observaciones</h2>
                    </div>
                    <p class="p">Introduce y guarda los resultados o cualquier observación relevante.</p>
                </div>
            </div>
            
            <!-- Tarjeta 13: Códigos de Barra -->
            <div class="locks" id="card-13">
                <div class="img"><i class="fas fa-barcode"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Códigos de Barra</h2>
                    </div>
                    <p class="p">Genera códigos de barra personalizados para tus etiquetas, con decodificación estándar o total.</p>
                </div>
            </div>
            
            <!-- Tarjeta 14: Favoritos -->
            <div class="locks" id="card-14">
                <div class="img"><i class="fas fa-star"></i></div>
                <div class="textBox">
                    <div class="textContent">
                        <h2 class="card-title">Favoritos</h2>
                    </div>
                    <p class="p">Marca y guarda elementos importantes como favoritos para un acceso rápido.</p>
                </div>
            </div>
        </div>
        
        {% if user.is_authenticated %}
        <br><br>
        <div class="bento">
            
            <div class="exercise-table2">
                <h2>Administración de Clientes y Miembros</h2>
                <table>
                    <tr>
                        <th>Agregar Cliente</th>
                        <th>Agregar Miembro</th>
                        <th>Análisis de Costos y Presupuestos</th>
                    </tr>
                    <tr>
                        <td>Análisis de costos y presupuestos</td>
                        <td>Seguimiento cuota de Miembros</td>
                        <td>Historial de pagos</td>
                    </tr>
                </table>
            </div>
               
            
            <div class="calories">
                <div onclick="window.location.href='/barcodes'">
                    <strong><h5>Registrar Producto</h5></strong>
                    <p>Crear código de barras y producto</p>
                </div>
                <hr>
                <div onclick="window.location.href='/add-product-to-stock'">
                    <strong>Agregar Producto a stock</strong>
                </div>
                <hr class="no-space"/>
                <div onclick="window.location.href='/reporte-cuotas'">
                    <p>Ver Cuotas Pendientes</p>
                </div>
            </div>
            

            <div class="calories">
                    <a href="{% url 'profile' %}" class="btn8 btn-outline-primary" id="profile">Ver Perfil</a>
                <br> <br>
                    <a href="{% url 'edit_profile' %}" class="btn8 btn-outline-secondary" id="edit-profile">Editar Perfil</a>
                    <br> <br><br> <br><br> 
                    <a href="{% url 'exit' %}" class="btnexit btn-outline-primary" id="exit">Salir</a> 

            </div>
        
            
        </div>

        
        {% endif %}


        {% if not user.is_authenticated %}
        <div class="contenedor-tarjetas">
            <div class="tarjetas">
                <!-- Tarjeta 1 -->
                <div class="tarjeta tarjeta1 animate__animated animate__fadeInUp">
                    <div class="contenedor">
                        <img src="{% static 'images/flower.jpg' %}" alt="laboratorio_analisis" class="imclas">
                    </div>
                    <div class="detalles">
                        <h3>Gestión Integral de Cannabis</h3>
                        <p>Rastrea y gestiona múltiples variedades de cannabis con descripciones detalladas y condiciones de cultivo.</p>
                    </div>
                </div>
        
                <!-- Tarjeta 2 -->
                <div class="tarjeta tarjeta2 animate__animated animate__fadeInUp">
                    <div class="contenedor">
                        <img src="{% static 'images/flower2.jpg' %}" alt="laboratorio_analisis" class="imclas">
                    </div>
                    <div class="detalles">
                        <h3>Seguimiento Avanzado de Cultivo</h3>
                        <p>Monitorea las condiciones del suelo, iluminación, temperatura, humedad y más para un crecimiento óptimo.</p>
                    </div>
                </div>
        
                <!-- Tarjeta 3 -->
                <div class="tarjeta tarjeta3 animate__animated animate__fadeInUp">
                    <div class="contenedor">
                        <img src="{% static 'images/seeds.jpg' %}" alt="laboratorio_analisis" class="imclas">
                    </div>
                    <div class="detalles">
                        <h3>Análisis de Costos</h3>
                        <p>Analiza costos incluyendo semillas, sustrato, energía, agua y mano de obra para optimizar tus operaciones.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
                      
                      
        
        <!-- Footer -->
        <footer class="mainfooter">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Contacto</h5>
                        <p>Dirección: Av. Cannabis, 1234, Montevideo, Uruguay</p>
                        <p>Email: info@cannatech.com</p>
                        <p>Teléfono: +598 1234 5678</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Sobre CannaTech</h5>
                        <p>Brindamos soluciones eficientes para la gestión de cultivos y laboratorios de cannabis. Nuestro software está diseñado para simplificar tus procesos y optimizar tu producción de manera efectiva.</p>
                    </div>
                    
                </div>
                <hr>
                <div class="text-center">
                    <p>&copy; 2024 CannaTech. Todos los derechos reservados.</p>
                    <p><a href="#">Aviso Legal</a> | <a href="#">Política de Privacidad</a></p>
                </div>
            </div>
        </footer>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/locks.js' %}"></script>

<script>
    // Definir variables necesarias para lockslogg.js
    window.isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
    window.cardUrls = [
        "{% url 'variedad_create' %}",
        "{% url 'todas_condiciones_cultivo' %}",
        "{% url 'tratamiento_list' variedad_id=1 %}",
        "{% url 'analisis_list' variedad_id=1 %}",
        "{% url 'recomendaciones' %}",
        "{% url 'generar_pdf_recomendaciones' %}",
        "{% url 'simulacion_rendimiento' %}",
        "{% url 'analizar_costos_presupuestos' %}",
        "{% url 'clientes' %}",
        "{% url 'programar_analisis' %}",
        "{% url 'recepcion_muestra' %}",
        "{% url 'registro_resultados' %}",
        "{% url 'barcodes' %}",
        "#" 
    ];
</script>

<script type="text/javascript" src="{% static 'js/lockslogg.js' %}"></script>


<script type="text/javascript" src="{% static 'js/lockslogg.js' %}"></script>


<script type="text/javascript" src="{% static 'js/lockslogg.js' %}"></script>

    
<!-- menu clickable is logg-->
    <script> 
        document.addEventListener('DOMContentLoaded', function() {
            var lefter = document.querySelector('.lefter');
            var left = document.querySelector('.left');
            var right = document.querySelector('.right');
            var righter = document.querySelector('.righter');

            if (lefter) {
                lefter.addEventListener('click', function() {
                    window.location.href = '/features/';
                });
            }

            if (left) {
                left.addEventListener('click', function() {
                    window.location.href = '/recomendar_cultivo/';
                });
            }

            if (righter) {
                righter.addEventListener('click', function() {
                    window.location.href = '/condiciones/';
                });
            }

            if (right) {
                right.addEventListener('click', function() {
                    window.location.href = '/variedad/create/';
                });
            }
        });
    </script>


</body>
{% endblock %}
