{% extends "core/base.html" %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
{% endblock %}

{% block content %}

<body class="custombodyhome">
    <div class="container">
        <div class="hero">
            <h1>Gestión Integral de Cannabis</h1>
            <p>Software para optimizar la gestión de cultivos, laboratorios, negocios y más.</p>
        </div>
        {% if user.is_authenticated %}
            <div class="all">
                <div class="lefter">
                    <div class="text">Servicios Avanzados</div>
                </div>
                <div class="left">
                    <div class="text">Recomendación</div>
                </div>
                <div class="center">
                    <div class="explainer">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="text"></div>
                </div>
                <div class="right">
                    <div class="text">Registrar Variedad</div>
                </div>
                <div class="righter">
                    <div class="text">Condiciones Cultivo</div>
                </div>
            </div>
        {% else %}
            <!-- if not logged show  -->
            <div class="tarjetacontainer">
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'core/images/entre.PNG' %}" alt="entrepreneur_presupuestos">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Emprendedores</h2>
                        </div>
                        <p>Acceso a herramientas para gestionar cultivos, laboratorios y presupuestos.</p>
                    </div>
                </div>
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'core/images/cul.PNG' %}" alt="cultivador_cultivos">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Cultivadores</h2>
                        </div>
                        <p>Gestiona variedades, registros y análisis de calidad.</p>
                    </div>
                </div>
                <div class="tarjetin animate__animated animate__fadeInUp">
                    <div class="cabecera">
                        <img src="{% static 'core/images/labo.jpg' %}" alt="laboratorio_analisis">
                    </div>
                    <div class="pie">
                        <div class="titulo">
                            <h2>Laboratorios</h2>
                        </div>
                        <p>Gestiona muestras, realiza análisis y control de calidad.</p>
                    </div>
                </div>
            </div><br>
            
              <div class="bannerhome">
                <div class="bannerhome-content">
                  <h1>Revoluciona tu Cultivo de Cannabis</h1>
                  <p>Gestión integral, análisis precisos y optimización de costos en una sola plataforma</p>
                  <div class="bannerhome-features">
                    <div class="feature">
                      <i class="fas fa-leaf"></i>
                      <span>Control de Variedades</span>
                    </div>
                    <div class="feature">
                      <i class="fas fa-flask"></i>
                      <span>Análisis de Calidad</span>
                    </div>
                    <div class="feature">
                      <i class="fas fa-chart-line"></i>
                      <span>Optimización de Costos</span>
                    </div>
                  </div>
                </div>
                <div class="bannerhome-image">
                  <img src="{% static 'core/images/default-analysis.jpg' %}" alt="Tecnología en cultivo de cannabis">
                </div>
                <div class="ring"></div>
              </div>
              
            
        {% endif %}
       
        <div class="tarjetas-grid-container">
            <!-- Tarjeta 1: Registro de Variedades -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Registrar Variedades</h2>
                  <time class="span">jeje</time>
                </div>
                <p class="p">Registra todas las variedades de cultivo disponibles.</p>
              </div>
            </div>
            
            <!-- Tarjeta 2: Condiciones de Cultivo -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Condiciones de Cultivo</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Define y crea las condiciones de cultivo necesarias.</p>
              </div>
            </div>
            
            <!-- Tarjeta 3: Tratamientos Fitofarmacéuticos -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Tratamiento Fitofarmacéutico</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Registra la información sobre tratamientos fitofarmacéuticos aplicados.</p>
              </div>
            </div>
            
            <!-- Tarjeta 4: Información de Análisis -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Información de Análisis</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Introduce los datos de análisis realizados.</p>
              </div>
            </div>
            
            <!-- Tarjeta 5: Recomendaciones de Cultivo -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Recomendaciones de Cultivo</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Recibe sugerencias y recomendaciones de cultivo personalizadas basadas en los datos ingresados.</p>
              </div>
            </div>
            
            <!-- Tarjeta 6: Información en PDF -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Información en PDF</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Genera y descarga reportes e información en formato PDF.</p>
              </div>
            </div>
            
            <!-- Tarjeta 7: Simulación de Rendimiento -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Simulación de Rendimiento</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Simula y predice el rendimiento de tu cosecha basado en los datos ingresados.</p>
              </div>
            </div>
            
            <!-- Tarjeta 8: Análisis de Costos -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Análisis de Costos</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Calcula y analiza los costos asociados por gramo y el costo total.</p>
              </div>
            </div>
            
            <!-- Tarjeta 9: Registro de Clientes -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Registro de Clientes</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Mantén un registro detallado de la información de tus clientes.</p>
              </div>
            </div>
            
            <!-- Tarjeta 10: Clientes Relacionados con Análisis -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Clientes y Análisis</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Asocia clientes específicos con los análisis realizados.</p>
              </div>
            </div>
            
            <!-- Tarjeta 11: Recepción de Muestras -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Recepción de Muestras</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Lleva un control de las muestras recibidas.</p>
              </div>
            </div>
            
            <!-- Tarjeta 12: Resultados y Observaciones -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Resultados y Observaciones</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Introduce y guarda los resultados o cualquier observación relevante.</p>
              </div>
            </div>
            
            <!-- Tarjeta 13: Códigos de Barra -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Códigos de Barra</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Genera códigos de barra personalizados para tus etiquetas, con decodificación estándar o total.</p>
              </div>
            </div>
            
            <!-- Tarjeta 14: Favoritos -->
            <div class="locks">
              <div class="img"></div>
              <div class="textBox">
                <div class="textContent">
                  <h2 class="card-title">Favoritos</h2>
                  <time class="span">x</time>
                </div>
                <p class="p">Marca y guarda elementos importantes como favoritos para un acceso rápido.</p>
              </div>
            </div>
          </div>
          
                    <!--  -->

                    <div class="contenedor-tarjetas">
                        <div class="tarjetas">
                            <div class="tarjeta tarjeta1 animate__animated animate__fadeInUp">
                            <div class="contenedor">
                              <img src="{% static 'core/images/flower.jpg' %}" alt="laboratorio_analisis" class="imclas">
                            </div>
                            <div class="detalles">
                              <h3>Gestión Integral de Cannabis</h3>
                              <p>Rastrea y gestiona múltiples variedades de cannabis con descripciones detalladas y condiciones de cultivo.</p>
                            </div>
                          </div>
                          <div class="tarjeta tarjeta2 animate__animated animate__fadeInUp">
                            <div class="contenedor">
                              <img src="{% static 'core/images/flower2.jpg' %}" alt="laboratorio_analisis" class="imclas">
                            </div>
                            <div class="detalles">
                              <h3>Seguimiento Avanzado de Cultivo</h3>
                              <p>Monitorea las condiciones del suelo, iluminación, temperatura, humedad y más para un crecimiento óptimo.</p>
                            </div>
                          </div>
                          <div class="tarjeta tarjeta3 animate__animated animate__fadeInUp">
                            <div class="contenedor">
                              <img src="{% static 'core/images/seeds.jpg' %}" alt="laboratorio_analisis" class="imclas">
                            </div>
                            <div class="detalles">
                              <h3>Análisis de Costos</h3>
                              <p>Analiza costos incluyendo semillas, sustrato, energía, agua y mano de obra para optimizar tus operaciones.</p>
                            </div>
                          </div>
                          <!-- Si necesitas agregar más tarjetas, puedes hacerlo aquí -->
                        </div>
                      </div>
                      
        
        <!-- Footer -->
        <footer class="footer">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Contacto</h5>
                        <p>Dirección: Av. Cannabis, 1234, Montevideo, Uruguay</p>
                        <p>Email: info@cannatech.com</p>
                        <p>Teléfono: +598 1234 5678</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Redes Sociales</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Acerca de</h5>
                        <p>CannaTech Software administrativo contable.</p>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <p>&copy; 2024 CannaTech. Todos los derechos reservados.</p>
                    <p><a href="#">Aviso Legal</a> | <a href="#">Política de Privacidad</a></p>
                </div>
            </div>
        </footer>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script type="text/javascript" src="{% static 'core/js/locks.js' %}"></script>

    
<!-- menu clickable is logg-->
    <script> 
        document.addEventListener('DOMContentLoaded', function() {
            var lefter = document.querySelector('.lefter');
            var left = document.querySelector('.left');
            var right = document.querySelector('.right');
            var righter = document.querySelector('.righter');

            if (lefter) {
                lefter.addEventListener('click', function() {
                    window.location.href = '/features/';
                });
            }

            if (left) {
                left.addEventListener('click', function() {
                    window.location.href = '/recomendar_cultivo/';
                });
            }

            if (righter) {
                righter.addEventListener('click', function() {
                    window.location.href = '/condiciones/';
                });
            }

            if (right) {
                right.addEventListener('click', function() {
                    window.location.href = '/variedad/create/';
                });
            }
        });
    </script>

</body>
{% endblock %}
