{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="customfor-wrapper">
    <div class="customfor">
        <input type="button" class="btn-prev" value="↩" onClick="javascript:history.go(-1);">
        <h1>Obtén Recomendaciones para tus Plantas</h1>
        <h3 class="subtitle">Ingresa los datos necesarios, recibe análisis y recomendaciones personalizadas para mejorar la eficiencia y maximizar los beneficios de tu cultivo.</h3>
        <p class="description">
            Proporcione información sobre la variedad, cantidad de plantas, área de cultivo, intensidad y horas de luz, temperatura diurna, humedad relativa y nivel de pH del suelo.
        </p>
        <form method="post" action="{% url 'recomendar_cultivo' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Obtener Recomendaciones</button>
            <p class="description mt-2">
            </p>    
        </form>
    </div>
</div>
{% endblock %}
