{% extends 'core/base.html' %}

{% block content %}
<div class="customfor2">
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2">
            <input type="button" class="btn-prev" value="↩" onClick="javascript:history.go(-1);">
            <br>
            <h1>Registro de Resultados</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Registrar Resultados</button>
            </form>
            <h5>Análisis pendientes de registro de resultados</h5>
            <ul>
                {% for analisis in analisis_pendientes %}
                    <li>{{ analisis.muestra.codigo }} - {{ analisis.tipo_analisis.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
