{% extends 'core/base.html' %}

{% block content %}

<br>
          <input type="button" class="btn-prev" value="<" onClick="javascript:history.go(-1);">
          <br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Reporte de Cuotas Pendientes</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Miembro</th>
              <th>Número de Socio</th>
              <th>Fecha de Pago</th>
              <th>Monto</th>
              <th>Periodo</th>
            </tr>
          </thead>
          <tbody>
            {% for cuota in cuotas_pendientes %}
            <tr>
              <td>{{ cuota.miembro.usuario.get_full_name }}</td>
              <td>{{ cuota.miembro.numero_socio }}</td>
              <td>{{ cuota.fecha_pago }}</td>
              <td>{{ cuota.monto }}</td>
              <td>{{ cuota.get_periodo_display }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">No hay cuotas pendientes.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
