{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="customfor-wrapper">
  <div class="customfor">
    <input type="button" class="btn-prev" value="↩" onClick="javascript:history.go(-1);">
            <h1>Simulación de Rendimiento de Cultivo</h1>
        <h3 class="subtitle">Ingrese los datos de su cultivo para calcular su rendimiento potencial.</h3>
        <p class="description">
        Proporcione información detallada sobre su cultivo, incluyendo variedad, cantidad de plantas, área de cultivo, intensidad y horas de luz, temperatura diurna, humedad relativa y nivel de pH del suelo.
        </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Simular Rendimiento</button>
      <p class="description">
        <small>Estos datos nos permitirán calcular el rendimiento esperado y ofrecer sugerencias.</small>
      </p>    
    </form>
  </div>
</div>
{% endblock %}
