{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="customfor">
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2">
            <input type="button" class="btn-prev" value="<" onClick="javascript:history.go(-1);">
            <br>
            <h1>Simulación de Rendimiento</h1>
            <h3 class="subtitle">Ingrese los datos de su cultivo para recibir un análisis detallado y recomendaciones de mejora.</h3>
            <p class="description">
                Proporcione información sobre la variedad, cantidad de plantas, área de cultivo, intensidad y horas de luz, temperatura diurna, humedad relativa y nivel de pH del suelo.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Simular Rendimiento</button>
                <br>
                <p class="description">
               <small> Estos datos nos permitirán calcular el rendimiento esperado y ofrecer sugerencias.</small>
                </p>    
            </form>
        </div>
    </div>
</div>
{% endblock %}
