{% extends 'core/base.html' %}

{% block content %}
<div class="customfor2">
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2">
            <input type="button" class="btn-prev" value="↩" onClick="javascript:history.go(-1);">
            <br>
            <h2>Crear Nuevo Tipo de Muestra</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Crear Tipo de Muestra</button>
            </form>
{% endblock %}
