{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<style>
     form p {
    margin-bottom: 15px;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 20px 12px 31px;
  }
</style>
<input type="button" class="btn-prev" value="<" onClick="javascript:history.go(-1);">

<div class="container my-5">
    <h1 class="text-center mb-4">{% if object %}Editar{% else %}Nuevo{% endif %} Tratamiento Fitofarmacéutico</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}