{% extends 'core/base.html' %} 
{% load static %} 
{% block content %}

<input type="button" class="btn-prev" value="<" onClick="javascript:history.go(-1);">

<div class="container my-8">
    
    <h1 class="text-center mb-3 form-title">
        {% if object %}
            Editar <i class="fa fa-edit"></i> Variedad
            
        {% else %}
            Crear  Variedad &nbsp; &nbsp;<i class="fa fa-edit"></i><i class="fa-brands fa-canadian-maple-leaf"></i>
        {% endif %}
    </h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="form-container">
                
                <div class="text-center">
                    <small>Crea o edita cultivos</small>
                </div>

                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}